.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 110%;
}

.App-header {
  background-color: #282c34;
  height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ChatInterface {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.ChatLog {
  flex: 1;
  padding: 1em;
  overflow-y: auto;
}

.ChatLine {
  margin: 0.4em 0;
}

.ChatLineForm {
  background-color: #4e5564;
  display: flex;
  flex-wrap: wrap;
  padding: 1vh 1vh 0;
  justify-content: space-around;
}

.ChatLineForm .ChatLineInput,
.ChatLineForm .LanguageSelect {
  padding: 0.5em;
  font-size: 120%;
  margin-bottom: 1vh;
}

.ChatLineForm .LanguageSelect {
  flex: 0 1;
  margin-right: 1vh;
}

.ChatLineForm .ChatLineInput {
  flex: 1;
}

.CorrectedLine {
  font-style: italic;
}

.CorrectedLine .Correction {
  background-color: #ffe5e5;
  color: #800;
  padding: 0.15em;
  cursor: pointer;
}

.CorrectedLine .Correction.Selected {
  background-color: #ffd6d6;
  color: #a00;
  border: 1px dotted #b00;
  text-decoration: none;
}

.CorrectedLine .Correction.Suggestion {
  background-color: #d6ffd6;
  color: #0a0;
  border: 1px solid #0a0;
}

.CorrectionView {
  background-color: #d6ffd6;
  color: #0a0;
  border: 1px solid #0a0;
  padding: 0.5em;
  margin-top: 0.8em;
}

.CorrectionView .Message {
  font-style: italic;
}

.CorrectionView .Suggestions {
  margin: 0;
  padding: 0.2em 1.5em 0;
}

.CorrectionView .Suggestions li {
  margin: 0.1em 0;
}
